.viga {
  background-color: black;
  width: 20px;
  border-radius: 10px;
  height: 150px;
  margin: auto;
}

.contenedor-semaforo {
  background-color: black;
  width: 150px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
}

.rojo, .amarillo, .verde {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.rojo {
  background: red;
  margin-bottom: 10px;
}

.amarillo {
  background: yellow;
  margin-bottom: 10px;
}

.verde {
  background: green;
  margin-bottom: 10px;
}

.encendido {
  box-shadow: 0 0 30px #FFFFFF;
}